#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;

}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.App {
  padding-top: 60px;
  
}

.location {
  display: grid;
  color: turquoise;
  
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.logo { 
  display: flex;
  width: 100%;
  height: 50vh;
  justify-content: center;
  background-repeat: no-repeat;
}

.logo{
  width: 75vw;
  max-width: 1000px;
  min-width: 320px;
  margin: auto;
}

img {
  border-radius: 15px;
  box-shadow: 0px 3px 5px rgba(15, 15, 15 .5);
}

.card {
  padding: 20px;
  border-radius: 15px;
  display: grid;
  gap: 1rem;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%,26rem), 1fr));
}

.column {
  width: 100%;
  display: flex;
  /* background-image: url(../src/assets/img/portal.gif); */
  background-repeat: no-repeat;
  background-position: center center;
  color: turquoise;
  align-items: center;
}

.column img{
  display: flow-root;
  width: 35%;
  height: auto;
  margin: auto;
  border-radius: 10%;
  object-fit: cover;
}

.ResidentInfo {
  box-shadow: 2px 2px 8px rgba(228, 95, 7, 0.2);
  padding: 20px;
  border-radius: 15px;
  margin: 5px;
}

.ResidentInfo img {
  
}